.main-box {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#button {
    background-color: rgb(30, 53, 67);
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 12px;
    padding: 8px;
    border: white;
    font-size: 20px;
}

#output {
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
    bottom: 200px;
    left: 30px;
}


